$container-width:            1216px;
$container-offset:           20px;

$color-primary:              #1eafa8;
$color-second:               #f5a100;
$color-third:                #237e49;
$color-light-gray:           #eaeaea;
$color-gray:                 #898989;
$color-bg:                   #f7f7f7;
$color-black:                #252e2d;
$color-text:                 $color-black;

$color-warning:              #e29911;
$color-danger:               #be123d;
$color-success:              #086627;