.footer {
  padding-bottom: 70px;
  
  &__text {
    &:not(:first-child) {
      margin-top: 17px;
    }
  }

  @media (max-width: 991px) {
    padding-bottom: 54px;
  }

  @media (max-width: 767px) {
    padding-bottom: 32px;
    text-align: center;
  }
}