.rate {
  &__stars {
    position: relative;
    display: inline-flex;
    align-items: center;
  }
    
  &__star {
    @include icon('../img/icons/star-gray.svg', 15px, 15px);

    &:not(:first-child) {
      margin-left: 4px;
    }
  }

  &__active {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &__active &__star {
    background-image: url('../img/icons/star.svg');
  }

  &_big &__star {
    width: 20px;
    height: 20px;
  }
}