.service-prices {
  &__header {
    margin-bottom: 10px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: none;

    &:not(:first-child) {
      margin-top: 9px; 
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      display: flex;
    }
  }

  &__footer {
    margin-top: 27px;
    text-align: center;
  }

  &__more {
    width: 320px;
  }

  &--opened &__item {
    display: flex;
  }

  @media (max-width: 767px) {
    &__header {
      padding: 0 16px;
    }

    &__label {
      font-size: 11px;
      font-weight: 600;
    }

    &__footer {
      margin-top: 16px;
    }

    &__more {
      border-radius: 12px;
    }

    &__item {
      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }

    &--opened &__item {
      &:nth-child(3),
      &:nth-child(4) {
        display: flex;
      }
    }
  }
}